<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Iterate Example</title>
</head>
<body>


	<h1>Going to traverse element in collection....</h1>
	<!-- Iteration using thymeleaf  (*** th:each ***)-->

	<div th:if="${list!=null}">
		<h1 th:text="${list}"></h1>

		<ul>
			<!-- Tarika 1st -->
			<li th:each=" n,status : ${list}"><span
				th:style=" ${status.odd} ? 'font-weight:bold;color:blue' : 'color:red;font-weight:bold' "
				th:text="${n}"></span></li>
			<br />
			<!-- Tarika 2nd -->
			<li th:each=" n,status : ${list}" th:text="${status.index }+' '+${n}"></li>

			<!-- 						**********All Status methods************* 
			https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#keeping-iteration-status 
				The current iteration index, starting with 0. This is the index property.
				The current iteration index, starting with 1. This is the count property.
				The total amount of elements in the iterated variable. This is the size property.
				The iter variable for each iteration. This is the current property.
				Whether the current iteration is even or odd. These are the even/odd boolean properties.
				Whether the current iteration is the first one. This is the first boolean property.
				Whether the current iteration is the last one. This is the last boolean property. -->
		</ul>
	</div>


</body>
</html>